body {
    margin: 0;
    padding: 0;
    background: #f8f4ef;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

.card {
    background: #fffdf8;
    width: 90%;
    max-width: 520px;
    margin: 40px auto;
    padding: 35px 25px;
    border-radius: 20px;
    border: 2px solid #e5d7c6;
    box-shadow: 0 5px 18px rgba(0,0,0,0.08);
    text-align: center;
}

.intro {
    color: #6f645e;
    font-size: 16px;
    line-height: 1.5;
}

.names {
    font-family: "Lora";
    font-size: 32px;
    color: #b08a55;
    margin: 20px 0 0 0;
}

.and {
    font-size: 15px;
    color: #6f645e;
    margin: -8px 0 -5px 0;
}

.date-box {
    margin-top: 25px;
    font-size: 18px;
    font-weight: 500;
    color: #6f645e;
}

.venue {
    margin-top: 18px;
    font-size: 16px;
    color: #6f645e;
    line-height: 1.5;
}

.map-link {
    display: inline-block;
    margin-top: 12px;
    font-size: 15px;
    text-decoration: underline;
    color: #0066cc;
}

#countdown {
    margin-top: 25px;
    font-size: 18px;
    font-weight: 500;
    color: #b08a55;
}

.celebrate {
    margin-top: 10px;
    font-size: 16px;
    color: #6f645e;
}
